<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <appSettings>
    <add key="sourcePath" value="C:\Users\Public\excelList" />
    <add key="destinationPath" value="C:\Users\Public\outputExcel" />
  <add key="configFilePath" value="C:\Users\Denis.Shipelov\source\repos\RepCol_2\bin\Debug\ReportCollector.exe.config" />
  </appSettings>
  <system.windows.forms jitDebugging="true" />
</configuration>
